<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobportalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".Dashboard_AllView"></activity>-->
        <activity android:name=".EditNotice" />
        <activity android:name=".ViewNotice" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".methodtesting.Recycler2" /> <!-- <activity android:name=".DashboardHome"></activity> -->
<!--        <activity-->
<!--            android:name=".AllJobActivity$PostNoticeActivity"-->
<!--            android:parentActivityName=".AllJobActivity"-->
<!--            android:windowSoftInputMode="stateHidden" />-->
        <activity
            android:name=".InsertJobPostActivity"
            android:parentActivityName=".PostJobActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DashboardHome"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PostJobActivity"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AllJobActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Admin.Registration"
            android:windowSoftInputMode="stateHidden" /> <!-- <activity -->
        <!-- android:name=".Admin.MainActivity" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->
        <activity
            android:name=".Admin.MainActivity"
            android:parentActivityName=".HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login.StartUp"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>