<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentHub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.studentHub.Login.ForgetPasswordActivity"></activity>
        <!-- <activity android:name=".Dashboard_AllView"></activity> -->
        <activity android:name="com.example.studentHub.EditNotice" />
        <activity android:name="com.example.studentHub.ViewNotice" />
        <activity android:name="com.example.studentHub.HomeActivity" />
        <activity android:name="com.example.studentHub.methodtesting.Recycler2" /> <!-- <activity android:name=".DashboardHome"></activity> -->
        <!-- <activity -->
        <!-- android:name=".AllPostActivity$PostNoticeActivity" -->
        <!-- android:parentActivityName=".AllPostActivity" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->
        <activity
            android:name="com.example.studentHub.InsertPostActivity"
            android:parentActivityName="com.example.studentHub.PostNoticeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.studentHub.DashboardHome"
            android:parentActivityName="com.example.studentHub.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.studentHub.PostNoticeActivity"
            android:parentActivityName="com.example.studentHub.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.studentHub.AllPostActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.studentHub.Admin.Registration"
            android:windowSoftInputMode="stateHidden" /> <!-- <activity -->
        <!-- android:name=".Admin.MainActivity" -->
        <!-- android:windowSoftInputMode="stateHidden" /> -->
        <activity
            android:name="com.example.studentHub.Admin.MainActivity"
            android:parentActivityName="com.example.studentHub.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.example.studentHub.Login.StartUp"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.studentHub.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>